body {
    font-family: 'Courier New', Courier, monospace;
    background-image:  url(premium_photo-1683140516020-28d86d877ee1.jpeg);
    margin: 0;
    padding: 0;
}


header {
    background-color: rgba(208, 190, 190, 0.619) ;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    /* position: fixed; */
    width: 100%;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
    font-weight: bold;
}
a:hover {
    color: rgb(255, 206, 206);
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.photo {
    margin: 10px;
}

.photo img {
    max-width: 200px;
    height: 130px;
    border: 2px solid #ccc;
}
